2018-02-21 14:56:34.429001

-----------Your Input-----------
#NomAnalyse :
testBouttonNON
#GenRef
c
#Nombre read :
2
#Read_0
c
#Read_1
c

-----------BGI-----------
#plateforme :
c
#sample :
c
#library :
c
#rgid :
c
#rgpu :
c

-----------population design-----------
#backStrainID :
c
#referenced :
0
#mappStrainId :
c
#dbSNPbool :
1
#dbSNP :


-----------Additionnal files-----------
#ScaffList :
c
#InvarScaf :
c
#warnScaf :
c

