2018-02-22 15:47:59.501757

-----------Your Input-----------
#NomAnalyse :
test1
#GenRef
c
#Nombre read :
2
#Read_0
c
#Read_1
c

-----------BGI-----------
#plateforme :
c
#sample :
c
#library :
c
#rgid :
c
#rgpu :
c

-----------population design-----------
#backStrainID :
c
#referenced :
0
#mappStrainId :
c
#dbSNPbool :
0
#dbSNP :
patate

-----------Additionnal files-----------
#ScaffList :
v
#InvarScaf :
v
#warnScaf :
c

