2018-02-21 10:44:03.572838

-----------Your Input-----------
#NomAnalyse :
testNomFichier
#GenRef
f
#Nombre read :
2
#Read_0
f
#Read_1
f

-----------BGI-----------
#plateforme :
f
#sample :
f
#library :
f
#rgid :
f
#rgpu :
f

-----------population design-----------
#backStrainID :
f
#referenced :
0
#mappStrainId :
f
#dbSNP :
f

-----------Additionnal files-----------
#ScaffList :
f
#InvarScaf :
f
#warnScaf :
f

